// Colors
$yellow: #f9d423;
$grey: #818e8f;
$red: #f85f40;
$green: #1abc9c;
$blue: #0faff1;
$orange: #f1540f;
$footer-bg-color: #2a2a2a;
$footer-text-color: #686868;
$main-bg-color: black;
$buy-border-color :#cbcbcb;
$job: #8e8e8e;
$social-ico: #bfbfbf;
$name :#303030;

// Sizes
$nav-height: 60px;
$view-port: 1100px;
$auth-height: 70px;